# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

src/CourseLanding.Api/appsettings.json
src/CourseLanding.Api/appsettings.Development.json

*.user
*.suo
*.userosscache
*.sln.docstates

# JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/
